{% extends "clients/base.html" %}

{% block title %}
  Client details
{% endblock %}

{% block content %}
  <h1>{{ client.title }}</h1>
  <h2>{{ client.full_name }}</h2>
  <table>
    <tr>
      <th>Insurance number</th>
      <th>Insurance type</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
    </tr>
    {% for insurance in insurances %}
      <tr>
        <td>{{ insurance.insurance_id }}</td>
        <td>
          {% if insurance.insurance_type == 'L' %}
            life-insurance
          {% elif insurance.insurance_type == 'M' %}
            medical-insurance
          {% else %}
            auto-insurance
          {% endif %}
        </td>
        <td>{{ insurance.start_date }}</td>
        <td>{{ insurance.end_date }}</td>
        <td>
          <button>
            Delete
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>
  <ul>

  </ul>
{% endblock %}
